body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Guide {
  font-size: 50px;
  font-weight: bold;
  margin-top: -15px;
}

.App {
  text-align: center;
  width: 100%;
  margin-top: -125px;
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 75px;
  margin-top: -125px;

}

#narrator {
  border: 5px solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

#narrator:hover {
  border: 10px solid yellow;
}

p {
  display: none;
}

img:hover + p {
  display: block;
  
}

.tourguides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
